# Supabase 연동을 위한 환경설정 예시 파일 (.env.example)
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url_here
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key_here

# 데이터베이스 연결 문자열
DATABASE_URL=postgresql://postgres.mjqsfsoavdttbzzkzxqw:[YOUR-PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
